# Pandas Intro

In [8]:
import pandas as pd
import numpy as np

In [1]:
median_income_dict = {
    "Alexandria": 80847,
    "Amherst": 44757,
    "Arlington": 94880,
    "Augusta": 50612,
    "Bedford": 54110,
    "Botetourt": 64724,
    "Fairfax": 105416,
    "Falls Church": 114409,
    "Prince William": 91098,
}
    
median_income_dict

{'Alexandria': 80847,
 'Amherst': 44757,
 'Arlington': 94880,
 'Augusta': 50612,
 'Bedford': 54110,
 'Botetourt': 64724,
 'Fairfax': 105416,
 'Falls Church': 114409,
 'Prince William': 91098}

In [2]:
median_income_dict["Bedford"]

54110

In [93]:
median_income_series = pd.Series(median_income_dict, dtype=int)

In [94]:
median_income_series

Alexandria         80847
Amherst            44757
Arlington          94880
Augusta            50612
Bedford            54110
Botetourt          64724
Fairfax           105416
Falls Church      114409
Prince William     91098
dtype: int32

In [10]:
median_income_series.head()

Alexandria    80847
Amherst       44757
Arlington     94880
Augusta       50612
Bedford       54110
dtype: int64

In [11]:
median_income_series.head(3)

Alexandria    80847
Amherst       44757
Arlington     94880
dtype: int64

In [12]:
median_income_series.tail()

Bedford            54110
Botetourt          64724
Fairfax           105416
Falls Church      114409
Prince William     91098
dtype: int64

In [13]:
median_income_series.tail(3)

Fairfax           105416
Falls Church      114409
Prince William     91098
dtype: int64

In [14]:
median_income_series.index

Index(['Alexandria', 'Amherst', 'Arlington', 'Augusta', 'Bedford', 'Botetourt',
       'Fairfax', 'Falls Church', 'Prince William'],
      dtype='object')

In [15]:
median_income_series.values

array([ 80847,  44757,  94880,  50612,  54110,  64724, 105416, 114409,
        91098], dtype=int64)

In [16]:
type(median_income_series.values)

numpy.ndarray

In [17]:
median_income_series["Amherst"]

44757

In [18]:
median_income_series[ ["Amherst", "Arlington" ] ]

Amherst      44757
Arlington    94880
dtype: int64

In [19]:
median_income_series["Amherst":"Bedford"]

Amherst      44757
Arlington    94880
Augusta      50612
Bedford      54110
dtype: int64

In [20]:
median_income_series.loc[ ["Amherst", "Arlington" ] ]

Amherst      44757
Arlington    94880
dtype: int64

In [21]:
median_income_series.iloc[ [ 2, 5 ] ]

Arlington    94880
Botetourt    64724
dtype: int64

In [22]:
households_dict = {
    "Alexandria": 68082,
    "Amherst": 12560,
    "Arlington": 98050,
    "Augusta": 28516,
    "Bedford": 27465,
    "Botetourt": 13126,
    "Fairfax": 391627,
    "Falls Church":	5101,
    "Prince William": 130785,
}

households_series = pd.Series(households_dict)

households_series

Alexandria         68082
Amherst            12560
Arlington          98050
Augusta            28516
Bedford            27465
Botetourt          13126
Fairfax           391627
Falls Church        5101
Prince William    130785
dtype: int64

In [24]:
counties = pd.DataFrame({
    "median_income": median_income_series,
    "households": households_series,
})

counties

                median_income  households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [25]:
counties.columns

Index(['median_income', 'households'], dtype='object')

In [26]:
counties.index

Index(['Alexandria', 'Amherst', 'Arlington', 'Augusta', 'Bedford', 'Botetourt',
       'Fairfax', 'Falls Church', 'Prince William'],
      dtype='object')

In [27]:
counties.values

array([[ 80847,  68082],
       [ 44757,  12560],
       [ 94880,  98050],
       [ 50612,  28516],
       [ 54110,  27465],
       [ 64724,  13126],
       [105416, 391627],
       [114409,   5101],
       [ 91098, 130785]], dtype=int64)

In [28]:
counties.columns = ["Median Income", "Households"]

counties

                Median Income  Households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [55]:
counties2 = counties.stack()

counties2

Alexandria      Median Income     80847
                Households        68082
Amherst         Median Income     44757
                Households        12560
Arlington       Median Income     94880
                Households        98050
Augusta         Median Income     50612
                Households        28516
Bedford         Median Income     54110
                Households        27465
Botetourt       Median Income     64724
                Households        13126
Fairfax         Median Income    105416
                Households       391627
Falls Church    Median Income    114409
                Households         5101
Prince William  Median Income     91098
                Households       130785
dtype: int64

In [44]:
counties2.index

MultiIndex([(    'Alexandria', 'Median Income'),
            (    'Alexandria',    'Households'),
            (       'Amherst', 'Median Income'),
            (       'Amherst',    'Households'),
            (     'Arlington', 'Median Income'),
            (     'Arlington',    'Households'),
            (       'Augusta', 'Median Income'),
            (       'Augusta',    'Households'),
            (       'Bedford', 'Median Income'),
            (       'Bedford',    'Households'),
            (     'Botetourt', 'Median Income'),
            (     'Botetourt',    'Households'),
            (       'Fairfax', 'Median Income'),
            (       'Fairfax',    'Households'),
            (  'Falls Church', 'Median Income'),
            (  'Falls Church',    'Households'),
            ('Prince William', 'Median Income'),
            ('Prince William',    'Households')],
           )

In [45]:
counties2.values

array([ 80847,  68082,  44757,  12560,  94880,  98050,  50612,  28516,
        54110,  27465,  64724,  13126, 105416, 391627, 114409,   5101,
        91098, 130785], dtype=int64)

In [56]:
counties2 = counties2.unstack(1)

counties2

                Median Income  Households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [51]:
counties2.index

Index(['Median Income', 'Households'], dtype='object')

In [52]:
counties2.columns

Index(['Alexandria', 'Amherst', 'Arlington', 'Augusta', 'Bedford', 'Botetourt',
       'Fairfax', 'Falls Church', 'Prince William'],
      dtype='object')

In [110]:
counties2 = counties2.stack()

In [111]:
counties2

Alexandria      Median Income     80847
                Households        68082
Amherst         Median Income     44757
                Households        12560
Arlington       Median Income     94880
                Households        98050
Augusta         Median Income     50612
                Households        28516
Bedford         Median Income     54110
                Households        27465
Botetourt       Median Income     64724
                Households        13126
Fairfax         Median Income    105416
                Households       391627
Falls Church    Median Income    114409
                Households         5101
Prince William  Median Income     91098
                Households       130785
dtype: int64

In [114]:
counties2["Alexandria"]

Median Income    80847
Households       68082
dtype: int64

In [57]:
counties

                Median Income  Households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [59]:
counties

                Median Income  Households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [73]:
# counties["Prince William"] # nope, not going to work

counties.loc[ ["Prince William", "Bedford"] ]

counties["Amherst":"Bedford"]

           Median Income  Households
Amherst            44757       12560
Arlington          94880       98050
Augusta            50612       28516
Bedford            54110       27465

In [63]:
counties["Median Income"]

Alexandria         80847
Amherst            44757
Arlington          94880
Augusta            50612
Bedford            54110
Botetourt          64724
Fairfax           105416
Falls Church      114409
Prince William     91098
Name: Median Income, dtype: int64

In [89]:
# counties["Region"] = pd.Series({
#     "Alexandria": "Northern",
#     "Amherst": "Central",
#     "Arlington": "Northern",
#     "Augusta": "Central",
#     "Bedford": "Central",
#     "Botetourt": "Southwestern",
#     "Fairfax": "Northern",
#     "Falls Church":	"Northern",
#     "Prince William": "Northern",
# })

counties["Region"] = [
    "Northern",
    "Central",
    "Northern",
    "Central",
    "Central",
    "Southwestern",
    "Northern",
    "Northern",
    "Northern",
]

In [83]:
counties

                Median Income  Households        Region
Alexandria              80847       68082      Northern
Amherst                 44757       12560       Central
Arlington               94880       98050      Northern
Augusta                 50612       28516       Central
Bedford                 54110       27465       Central
Botetourt               64724       13126  Southwestern
Fairfax                105416      391627      Northern
Falls Church           114409        5101      Northern
Prince William          91098      130785      Northern

In [84]:
counties["Total Household Income"] = counties["Median Income"] * counties["Households"]

In [85]:
counties

,Median Income,Households,Region,Total Household Income
Alexandria,80847,68082,Northern,5504225454
Amherst,44757,12560,Central,562147920
Arlington,94880,98050,Northern,9302984000
Augusta,50612,28516,Central,1443251792
Bedford,54110,27465,Central,1486131150
Botetourt,64724,13126,Southwestern,849567224
Fairfax,105416,391627,Northern,41283751832
Falls Church,114409,5101,Northern,583600309
Prince William,91098,130785,Northern,11914251930

In [91]:
counties.index.name = "County"

display(counties.index)

counties.to_csv("counties.csv")

Index(['Alexandria', 'Amherst', 'Arlington', 'Augusta', 'Bedford', 'Botetourt',
       'Fairfax', 'Falls Church', 'Prince William'],
      dtype='object', name='County')